<h1> Editing <%=@recipe.name%> </h1>
<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>


<br>
<br>

<form action="/recipes/<%=@recipe.slug%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h3> Recipe Name: </h3>
  <textarea name="name" rows="2" cols="80" required><%=@recipe.name%></textarea>

  <h3>Ingredients: </h3>
  <textarea name="ingredients" rows="10" cols="80" required><%=@recipe.ingredients%></textarea>

  <h3> Instructions: </h3>
  <textarea name="instructions" rows="10" cols="80" required><%=@recipe.instructions%></textarea>

  <br>
  <br>

  <input type="submit" value="Save">
</form>

<br>

  <form action="/recipes">
      <input type="submit" value="< Back to all recipes">
  </form>
