<h1> Welcome to your Cookbook <%= current_user.name %>! </h1>

<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>

<br>
<br>

<h2> All Recipes </h2>
<ol>
<% Recipe.all.each do |recipe| %>
  <li><a href="/recipes/<%=recipe.slug%>"><%= recipe.name %></a> <%=recipe.user.name%> </li>
  <%end%>
</ol>

<br>
<br>

<h2> Your Recipes </h2>
<ol>
<% current_user.recipes.each do |recipe| %>
  <li><a href="/recipes/<%=recipe.slug%>"><%= recipe.name %></a>
  <%end%>
</ol>

<br>
<br>

<form action="/recipes/new">
    <input type="submit" value="+ Add new recipe" />
</form>

<br>

<form action="/logout">
    <input type="submit" value="Logout" />
</form>
