
<h1> Welcome <%= current_user.name %> You are logged in </h1>


<h2> All Recipes </h2>
<ol>
<% Recipe.all.each do |recipe| %>
  <li><a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
  <%end%>
</ol>
<br>

<h2> Your Recipes </h2>
<ol>
<% current_user.recipes.each do |recipe| %>
  <li><a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
  <%end%>
</ol>
<br>

<a href="/recipes/new" >Add new recipe </a>
<br>
<a href ="/logout"> Logout </a>
