<h1> <%= @recipe.name %> </h1>
<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>

<br>
<br>

<h2> Ingredients </h2>
<%= @recipe.ingredients %>

<br>
<br>

<h2> Instructions </h2>
<%= @recipe.instructions %>

<br>
<br>

<form action="/recipes/<%=@recipe.slug%>/edit">
    <input type="submit" value="Edit">
</form>

<br>

<form method="POST" action="/recipes/<%=@recipe.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete"/>
</form>

<br>

<form action="/recipes">
    <input type="submit" value="< Back to all recipes">
</form>
