<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>

<h1> <%= @recipe.name %> </h1>

<h2> Ingredients </h2>
<%= @recipe.ingredients %>

<h2> Instructions </h2>
<%= @recipe.instructions %>

<br>
<h3> <a href="/recipes/<%=@recipe.id%>/edit"> Edit </a> <h3>
<br>

<form method="POST" action="/recipes/<%=@recipe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete"/>
</form>

<br>
<h3> <a href="/recipes"> Back to all Recipes </a> <h3>
